
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/blog.css" rel="stylesheet" />
<style>
    .blog-post {
        margin-bottom: 2rem;
    }
</style>
<main role="main" class="container" style="margin-top:60px;margin-bottom:360px;">
    <div class="row">
        <div class="col-md-12 blog-main">
            <h2 class="blog-post-title">
                Disclaimer
            </h2>
            <span style="margin-bottom: 2rem; display: block; width: 20%; height: 5px; background-color: #edab00;"></span>
        </div>
    </div>


    <div class="blog-post" style="word-wrap: break-word; word-break: normal;">
        <p class="lead">
            WeCare ensures all page content on this website was accurate at the time each was created or
            last modified. However, WeCare does not guarantee the accuracy or completeness of the
            material, so the user should never rely on it without first getting confirmation from the original
            or authorising department or other body; WeCare also reserves the right to make changes at
            any time as it deems appropriate.
        </p>
    </div>
    <div class="blog-post" style="word-wrap: break-word; word-break: normal;">
        <p class="lead">
            Even though this website provides information about public health services provided by
            WeCare, it is not designed to give personal medical advice. Before you rely on any medical
            information on this site, you should seek advice from your own doctor or health care provider
            regarding your situation.
        </p>
    </div>
    <div class="blog-post" style="word-wrap: break-word; word-break: normal;">
        <p class="lead">
            Website users can access external links provided by WeCare. WeCare's links to other websites
            cannot be controlled and are not responsible for the content or authenticity of a linked website.
            WeCare provides links to other websites as a convenience only, and those links do not represent
            endorsing or approving those other websites, their content, or the individuals who manage or
            contribute to them.
        </p>
    </div>
</main>


<script src='~/Scripts/jquery-3.4.1.min.js'></script>