
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/blog.css" rel="stylesheet" />
<style>
    .featurette-heading {
        font-family: Roboto Condensed, sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        color:
    }

    h4, .h4 {
        font-weight: 500;
    }
</style>
<main role="main" class="container" style="margin-top:40px;">
    <div class="row">
        <div class="col-md-12 blog-main">
            <h2 class="blog-post-title">
                Resources
            </h2>
            <span style="margin-bottom: 2rem; display: block; width: 20%; height: 5px; background-color: #edab00;"></span>
            @* Introduction for urgent help *@
            <div class="blog-post" style="word-wrap: break-word; word-break: normal; margin-bottom: -3rem;">
                <p class="lead">Help is available if you or your loved one suffer from an alcohol use disorder (AUD). No matter where you are on your journey to recovery, you will never be alone if you are working toward recovery. In every state, there are resources specifically for individuals and family members affected by alcohol's harmful effects. These organizations will provide you with the tools you need to live a healthy and alcohol-free life. </p>
            </div>
        </div>
    </div>
    <div class="container marketing">
        <hr class="featurette-divider">
        @* lifeline resources *@
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h3 class="featurette-heading" style="margin-top:1rem;">
                    Phone: <span style="color: #f0ad00; ">13 11 14</span>
                </h3>
                <h4 class="h4" ">Available 24/7</h4>
                <div class="blog-post" style="word-wrap: break-word; word-break: normal;">
                    <p class="lead" ">A service that provides crisis support and prevention of suicide to all Australians.</p>
                </div>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="~/images/Lifeline.jpeg" alt="Alternate Text" />
            </div>
        </div>
        <hr class="featurette-divider">
        @* directline resources *@
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h3 class="featurette-heading" style="margin-top:1rem;">
                    Phone: <span style="color: #f0ad00; ">1800 888 236</span>
                </h3>
                <h4 class="h4">Available 24/7</h4>
                <div class="blog-post" style="word-wrap: break-word; word-break: normal;">
                    <p class="lead">DirectLine, Victoria's alcohol and drug counselling service.</p>
                </div>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="~/images/DirectLine.jpg" alt="Alternate Text" />
            </div>
        </div>
        <hr class="featurette-divider">
        @* YoDAA resources *@
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h3 class="featurette-heading" style="margin-top:1rem;">
                    Phone: <span style="color: #f0ad00; ">(03) 9415 8881</span>
                </h3>
                <h4 class="h4">Available 24/7</h4>
                <h4 class="h4">(Upto Age 25)</h4>
                <p class="lead">Concerned about a young family member call the Youth Drug and Alcohol Advice (YoDAA) telephone helpline </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="~/images/YoDaa.jpeg" alt="Alternate Text" />
            </div>
        </div>
        <hr class="featurette-divider">
        @* health resources *@
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h3 class="h3">ACT</h3>
                <h4 class="h4" style="margin-top:1rem;">
                    Phone: <span style="color: #f0ad00; ">(02) 6207 9977</span>
                </h4>
                <h3 class="h3">NSW</h3>
                <h4 class="h4" style="margin-top: 1rem;">
                    Regional: <span style="color: #f0ad00; ">1800 422 599</span><br />
                    Metropolitan: <span style="color: #f0ad00; ">(02) 9361 8000</span>
                </h4>
                <h3 class="h3">NT</h3>
                <h4 class="h4" style="margin-top:1rem;">
                    Phone: <span style="color: #f0ad00; ">1800 131 350</span>
                </h4>
                <h3 class="h3">Qld</h3>
                <h4 class="h4" style="margin-top: 1rem;">
                    Regional: <span style="color: #f0ad00; ">1800 177 833</span><br />
                    Metropolitan: <span style="color: #f0ad00; ">(07) 3837 5889</span>
                </h4>
                <h3 class="h3">SA</h3>
                <h4 class="h4" style="margin-top:1rem;">
                    Phone: <span style="color: #f0ad00; ">1300 131 340</span>
                </h4>
                <h3 class="h3">TA</h3>
                <h4 class="h4" style="margin-top: 1rem;">
                    Phone: <span style="color: #f0ad00; ">1800 811 994</span>
                </h4>
                <h3 class="h3">VIC</h3>
                <h4 class="h4" style="margin-top:1rem;">
                    Phone: <span style="color: #f0ad00; ">1800 888 236</span>
                </h4>
                <h3 class="h3">WA</h3>
                <h4 class="h4" style="margin-top:1rem;">
                    Regional: <span style="color: #f0ad00; ">1800 198 024</span><br />
                    Metropolitan: <span style="color: #f0ad00; ">(08) 9442 5000</span>
                </h4>

                <p class="lead">Alcohol Drug Information Services in your state or territory provide free 24-hour counselling</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="~/images/health-direct.png" alt="Alternate Text" />
            </div>
        </div>
        <hr class="featurette-divider">
    </div>
</main>
<script src='~/Scripts/jquery-3.4.1.min.js'></script>