
@{
    ViewBag.Title = "Index";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body style="text-align:center;">
    <h1>Page Not Found.</h1>
    <h2>The server was unable to find what was requested !</h2>
</body>
</html>


