
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main role="main" class="container" style="margin-top:40px;">
    <div class="row">
        <div class="col-md-12 blog-main">
            <h2 class="blog-post-title">
                Resources
            </h2>
            <p>Help is available if you or your loved one suffer from an alcohol use disorder (AUD). No matter where you are on your journey to recovery, you will never be alone if you are working toward recovery. In every state, there are resources specifically for individuals and family members affected by alcohol's harmful effects. These organizations will provide you with the tools you need to live a healthy and alcohol-free life.</p>
        </div>
    </div>
    <div class="container marketing">
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading" style="margin-top:1rem;text-align:center;color:red;">
                    131114
                </h2>
                <h2 style="text-align:center;">Available 24/7</h2>
                <p class="lead">A service that provides crisis support and prevention of suicide to all Australians.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="~/images/Lifeline.jpeg" alt="Alternate Text" />
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading" style="margin-top:1rem;text-align:center;color:red;">
                    1800888236
                </h2>
                <h2 style="text-align:center;">Available 24/7</h2>
                <p class="lead">DirectLine, Victoria's alcohol and drug counselling service.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="~/images/DirectLine.jpg" alt="Alternate Text" />
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading" style="margin-top:1rem;text-align:center;color:red;">
                    (03) 9415 8881.
                </h2>
                <h2 style="text-align:center;"> (Upto Age 25)</h2>
                <p class="lead">Concerned about a young family member call the Youth Drug and Alcohol Advice (YoDAA) telephone helpline </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="~/images/YoDaa.jpeg" alt="Alternate Text" />
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading" style="margin-top:1rem;text-align:center;color:red;">
                    ACT: (02) 6207 9977
                </h2>
                <h2 style="text-align:center;">NSW: 1800 422 599 (Regional)</h2>
                <p class="lead">Alcohol Drug Information Services in your state or territory provide free 24-hour counselling:</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="~/images/health-direct.png" alt="Alternate Text" />
            </div>
        </div>
        <hr class="featurette-divider">
    </div>
</main>