
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/blog.css" rel="stylesheet" />
<main role="main" class="container" style="margin-top:40px;">
    <div class="row">
        <div class="col-md-12 blog-main">
            <h2 class="blog-post-title">
                Resources
            </h2>
            <span style="margin-bottom: 2rem; display: block; width: 20%; height: 5px; background-color: #edab00;"></span>
            <div class="blog-post" style="word-wrap: break-word; word-break: normal; margin-bottom: -3rem;">
                <p class="lead">Help is available if you or your loved one suffer from an alcohol use disorder (AUD). No matter where you are on your journey to recovery, you will never be alone if you are working toward recovery. In every state, there are resources specifically for individuals and family members affected by alcohol's harmful effects. These organizations will provide you with the tools you need to live a healthy and alcohol-free life. </p>
            </div>
        </div>
    </div>
    <div class="container marketing">
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h3 class="featurette-heading" style="margin-top:1rem;text-align:center;color:red;">
                    131114
                </h3>
                <h3 class="h3" style="text-align:center;">Available 24/7</h3>
                <div class="blog-post" style="word-wrap: break-word; word-break: normal;">
                    <p class="lead" style="text-align:center;">A service that provides crisis support and prevention of suicide to all Australians.</p>
                </div>                
            </div>
            <div class="col-md-5 order-md-1">
                <img src="~/images/Lifeline.jpeg" alt="Alternate Text" />
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h3 class="featurette-heading" style="margin-top:1rem;text-align:center;color:red;">
                    1800888236
                </h3>
                <h3 class="h3" style="text-align:center;">Available 24/7</h3>
                <div class="blog-post" style="word-wrap: break-word; word-break: normal;">
                    <p class="lead" style="text-align:center;">DirectLine, Victoria's alcohol and drug counselling service.</p>
                </div>                
            </div>
            <div class="col-md-5 order-md-1">
                <img src="~/images/DirectLine.jpg" alt="Alternate Text" />
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h3 class="featurette-heading" style="margin-top:1rem;text-align:center;color:red;">
                    (03) 9415 8881.
                </h3>
                <h3 class="h3" style="text-align:center;"> (Upto Age 25)</h3>
                <p class="lead" style="text-align:center;">Concerned about a young family member call the Youth Drug and Alcohol Advice (YoDAA) telephone helpline </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="~/images/YoDaa.jpeg" alt="Alternate Text" />
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h3 class="featurette-heading" style="margin-top:1rem;text-align:center;color:red;">
                    (02) 6207 9977
                </h3>
                <h3 class="h3" style="text-align: center">ACT</h3>
                <h3 class="featurette-heading" style="margin-top: 1rem; text-align: center; color: red; ">
                    1800 422 599 (Regional)<br />(02) 9361 8000 (Metropolitan)
                </h3>
                <h3 class="h3" style="text-align: center;">NSW</h3>
                <h3 class="featurette-heading" style="margin-top:1rem;text-align:center;color:red;">
                    1800 131 350
                </h3>
                <h3 class="h3" style="text-align: center">NT</h3>
                <h3 class="featurette-heading" style="margin-top: 1rem; text-align: center; color: red; ">
                    1800 177 833 (Regional) <br />(07) 3837 5889 (Metropolitan)
                </h3>
                <h3 class="h3" style="text-align: center">Qld</h3>
                <h3 class="featurette-heading" style="margin-top:1rem;text-align:center;color:red;">
                    1300 131 340
                </h3>
                <h3 class="h3" style="text-align: center">SA</h3>
                <h3 class="featurette-heading" style="margin-top: 1rem; text-align: center; color: red; ">
                    1800 811 994
                </h3>
                <h3 class="h3" style="text-align: center">Ta</h3>
                <h3 class="featurette-heading" style="margin-top:1rem;text-align:center;color:red;">
                    1800 888 236
                </h3>
                <h3 class="h3" style="text-align: center">Vic</h3>
                <h3 class="featurette-heading" style="margin-top:1rem;text-align:center;color:red;">
                    1800 198 024 (Regional)<br />(08) 9442 5000 (Metropolitan)
                </h3>
                <h3 class="h3" style="text-align: center">WA</h3>
                <p class="lead" style="text-align: center">Alcohol Drug Information Services in your state or territory provide free 24-hour counselling</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="~/images/health-direct.png" alt="Alternate Text" />
            </div>
        </div>
        <hr class="featurette-divider">
    </div>
</main>